PORT=5003
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/weddingDB?appName=Cluster0
WHATSAPP_PHONE=+818055691384
GOOGLE_MAPS_URL=https://www.google.com/maps/dir//hotel+shan+galigamuwa/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3ae310dad6555583:0x6cda49f44d354751?sa=X&ved=1t:155782&ictx=111
ADMIN_PASSWORD=admin123
